<!DOCTYPE html>
<html lang="en">

<head>
    <title>Payment</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!--<script src="angular.min.js"></script>-->
     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootsrap.min.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
          <style>select.ng-invalid.ng-dirty{border:1px solid red;}</style>
    

</head>

<body>
<nav class="navbar navbar-inverse ">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Book me Stores</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Gallery</a></li>
        <li><a href="#">Sliit</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>
    
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Movies</a></li>
      <li><a href="#">Events</a></li>
      <li><a href="#">Seminars</a></li>
      <li><a href="showtime.html">Showtimes</a></li>
      <li><a href="#">Offers</a></li>
      <li><a href="#">Buy ticket</a></li>
      <li><a href="#">About us</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Admin control
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="addmoviedetails.html">Movie details</a></li>
          <li><a href="#">Musical events</a></li>
          <li><a href="#">Stage dramas</a></li>
        </ul>
      </li>    
      
    </ul>
  </div>
</nav>


    <!--//////////////////////////////-->
    
<div class="col-md-6 col-md-offset-1">
    <h1>Buy Ticekt</h1>
    <h2>Make your Payment Information</h2>
<br>
    <div class="container">
      <div ng-app="myapp" ng-controller="usercontroller">
    <form name="form">
        <div class="form-group" >
        <label for="PaymentType">Payment Type</label>

 <select name="cboName" id="cboName" class="form-control" data-ng-model="Item.Name" required>
  <span ng-show="form.cobName.$dirty && form.cobName.$error.required">Required!</span>

               <option value=""></option>
               <option value="Visa">Visa</option>
               <option value="Master card">Master card</option>
            
               </select> 
         </div>

           
        <div class="form-group">
            <label for="Card Number">Card Number</label>
            <input type="Card Number" class="form-control" name="Card Number" required ng-model="Card Number" class="form-control"/>
            
        </div>



 
<!--------------///////////////////////////////////////////---------------------------------------->       
           
       

          <div class="form-group">
            <label for="date">Exper Date</label>
            <input type="date" class="form-control" name="date" required ng-model="date" class="form-control"/>
           
        </div>
         
<!--------------//////////////////////////////////////////----------------------------------------->
  <script>
    var app = angular.module("myapp", []);
    app.controller("usercontroller", function($scope, $http){
        $scope.insertData = function(){
            $http.post(
                "UserReg.php",
                {'Name':$scope.Name, 'date':$scope.date,'Event':$scope.Event,'Place':$scope.Place,'ShowTime':$scope.ShowTime,'SelectCatagory':$scope.SelectCatagory,'Full':$scope.Full,'Half':$scope.Half}
            ).success(function(data){
                alert(data);
            });
        }

    });

</script>

<!--........................................................................-->

  
        <div class="form-group">
            <label for="S Code">S Code</label>
            <input type="password" class="form-control" name="password" required ng-model="password" class="form-control"/>
            
        </div>

     </div>
    
      
        

         

       
        <!--<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" name="firstName" [(ngModel)]="model.firstName" #firstName="ngModel" required />
            <div *ngIf="f.submitted && !firstName.valid" class="help-block">First Name is required</div>
        </div>-->

              <br />
                   <input type="submit" name="btnInsert" class="btn btn-info" ng-click="insertData()" value="Conform Payment"/>
                </div>
        <br>
       
         <div class="container navbar-fixed-bottom" style="margin-bottom:10px">
            <a class="btn btn-warning btn-lg pull-right h1" id="btn2" href="./home.html">Back</a>
        </div>

        
    </form>
    <script src=>"http://code.angularjs.org/1.2.3/angular.min.js"</script>
</div>
  
<footer>

</footer>
<!-- Latest compiled and minified JS -->
<script src="js/jquery-3.1.0.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>