<html ng-app="myapp">

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
  <link rel="stylesheet" type="text/css" href="seat.css">
     <script src="seat1.js"></script>
</head>

<body ng-controller="testCtrl">
 <div>
     </br>
     </br>
     </br>
     </br>
     </div>   
    <div style="text-align: left;">

     <body ng-controller="testCtrl">   
  <div style="text-align: center;">
      
                   <p>SCREEN</P>
    <div class="btn-group" ng-init="style={'background-color' : '#cc167d'}">
    <button type="button" class="btn btn-default" ng-style="style1" ng-click="style1=style">1</button>
    <button type="button" class="btn btn-default" ng-style="style2" ng-click="style2=style">2</button>
    <button type="button" class="btn btn-default" ng-style="style3" ng-click="style3=style">3</button>
    <button type="button" class="btn btn-default" ng-style="style4" ng-click="style4=style">4</button>
    <button type="button" class="btn btn-default" ng-style="style5" ng-click="style5=style">5</button>
    <button type="button" class="btn btn-default" ng-style="style6" ng-click="style6=style">6</button>
    <button type="button" class="btn btn-default" ng-style="style7" ng-click="style7=style">7</button>
    <button type="button" class="btn btn-default" ng-style="style8" ng-click="style8=style">8</button>
    <button type="button" class="btn btn-default" ng-style="style9" ng-click="style9=style">9</button>
    <button type="button" class="btn btn-default" ng-style="style10" ng-click="style10=style">10</button>
    <button type="button" class="btn btn-default" ng-style="style11" ng-click="style11=style">11</button></br></br>
    <button type="button" class="btn btn-default" ng-style="style12" ng-click="style12=style">12</button>
    <button type="button" class="btn btn-default" ng-style="style13" ng-click="style13=style">13</button>
    <button type="button" class="btn btn-default" ng-style="style14" ng-click="style14=style">14</button>
    <button type="button" class="btn btn-default" ng-style="style15" ng-click="style15=style">15</button>
    <button type="button" class="btn btn-default" ng-style="style16" ng-click="style16=style">16</button>
    <button type="button" class="btn btn-default" ng-style="style17" ng-click="style17=style">17</button>
    <button type="button" class="btn btn-default" ng-style="style18" ng-click="style18=style">18</button>
    <button type="button" class="btn btn-default" ng-style="style19" ng-click="style19=style">19</button>
    <button type="button" class="btn btn-default" ng-style="style20" ng-click="style20=style">20</button>
    <button type="button" class="btn btn-default" ng-style="style21" ng-click="style21=style">21</button>
    <button type="button" class="btn btn-default" ng-style="style22" ng-click="style22=style">22</button></br></br>
    <button type="button" class="btn btn-default" ng-style="style22" ng-click="style23=style">22</button>
    <button type="button" class="btn btn-default" ng-style="style23" ng-click="style24=style">23</button>
    <button type="button" class="btn btn-default" ng-style="style24" ng-click="style25=style">24</button>
    <button type="button" class="btn btn-default" ng-style="style25" ng-click="style26=style">25</button>
    <button type="button" class="btn btn-default" ng-style="style26" ng-click="style27=style">26</button>
    <button type="button" class="btn btn-default" ng-style="style27" ng-click="style28=style">27</button>
    <button type="button" class="btn btn-default" ng-style="style28" ng-click="style29=style">28</button>
    <button type="button" class="btn btn-default" ng-style="style29" ng-click="style30=style">29</button>
    <button type="button" class="btn btn-default" ng-style="style30" ng-click="style31=style">30</button>
    <button type="button" class="btn btn-default" ng-style="style31" ng-click="style32=style">31</button>
    <button type="button" class="btn btn-default" ng-style="style32" ng-click="style33=style">32</button></br></br>
    <button type="button" class="btn btn-default" ng-style="style33" ng-click="style34=style">33</button>
    <button type="button" class="btn btn-default" ng-style="style34" ng-click="style35=style">34</button>
    <button type="button" class="btn btn-default" ng-style="style35" ng-click="style36=style">35</button>
    <button type="button" class="btn btn-default" ng-style="style36" ng-click="style37=style">36</button>
    <button type="button" class="btn btn-default" ng-style="style37" ng-click="style38=style">37</button>
    <button type="button" class="btn btn-default" ng-style="style38" ng-click="style39=style">38</button>
    <button type="button" class="btn btn-default" ng-style="style39" ng-click="style40=style">39</button>
    <button type="button" class="btn btn-default" ng-style="style40" ng-click="style41=style">40</button>
    <button type="button" class="btn btn-default" ng-style="style41" ng-click="style42=style">41</button>
    <button type="button" class="btn btn-default" ng-style="style42" ng-click="style43=style">42</button>
    <button type="button" class="btn btn-default" ng-style="style43" ng-click="style44=style">43</button></br></br>
    <button type="button" class="btn btn-default" ng-style="style44" ng-click="style45=style">44</button>
    <button type="button" class="btn btn-default" ng-style="style45" ng-click="style46=style">45</button>
    <button type="button" class="btn btn-default" ng-style="style46" ng-click="style47=style">46</button>
    <button type="button" class="btn btn-default" ng-style="style47" ng-click="style48=style">47</button>
    <button type="button" class="btn btn-default" ng-style="style48" ng-click="style49=style">48</button>
    <button type="button" class="btn btn-default" ng-style="style49" ng-click="style50=style">49</button>
    <button type="button" class="btn btn-default" ng-style="style50" ng-click="style51=style">50</button>
    <button type="button" class="btn btn-default" ng-style="style51" ng-click="style52=style">51</button>
    <button type="button" class="btn btn-default" ng-style="style52" ng-click="style53=style">52</button>
    <button type="button" class="btn btn-default" ng-style="style53" ng-click="style54=style">53</button>
   <button type="button" class="btn btn-default" ng-style="style54" ng-click="style55=style">54</button></br></br>
    <button type="button" class="btn btn-default" ng-style="style55" ng-click="style56=style">55</button>
    <button type="button" class="btn btn-default" ng-style="style56" ng-click="style57=style">56</button>
    <button type="button" class="btn btn-default" ng-style="style57" ng-click="style58=style">57</button>
    <button type="button" class="btn btn-default" ng-style="style58" ng-click="style59=style">58</button>
    <button type="button" class="btn btn-default" ng-style="style59" ng-click="style60=style">59</button>
    <button type="button" class="btn btn-default" ng-style="style60" ng-click="style61=style">60</button>
    <button type="button" class="btn btn-default" ng-style="style61" ng-click="style61=style">61</button>
    <button type="button" class="btn btn-default" ng-style="style62" ng-click="style62=style">62</button>
    <button type="button" class="btn btn-default" ng-style="style63" ng-click="style63=style">63</button>
    <button type="button" class="btn btn-default" ng-style="style64" ng-click="style64=style">64</button>
    <button type="button" class="btn btn-default" ng-style="style65" ng-click="style65=style">65</button></br></br>
    <button type="button" class="btn btn-default" ng-style="style66" ng-click="style66=style">66</button>
    <button type="button" class="btn btn-default" ng-style="style67" ng-click="style67=style">67</button>
    <button type="button" class="btn btn-default" ng-style="style68" ng-click="style68=style">68</button>
    <button type="button" class="btn btn-default" ng-style="style69" ng-click="style69=style">69</button>
    <button type="button" class="btn btn-default" ng-style="style70" ng-click="style70=style">70</button>
    <button type="button" class="btn btn-default" ng-style="style71" ng-click="style71=style">71</button>
    <button type="button" class="btn btn-default" ng-style="style72" ng-click="style72=style">72</button>
    <button type="button" class="btn btn-default" ng-style="style73" ng-click="style73=style">73</button>
    <button type="button" class="btn btn-default" ng-style="style74" ng-click="style74=style">74</button>
    <button type="button" class="btn btn-default" ng-style="style75" ng-click="style75=style">75</button>
    <button type="button" class="btn btn-default" ng-style="style76" ng-click="style76=style">76</button></br></br>
    

    
<div>  
          <button ng-disabled="form.$invalid" class="btn btn-success" type="button" id="addButton" onclick="window.location.href='payment.html'">
                                                  <span class="glyphicon glyphicon-plus">&nbsp</span>Next For Payment
                       </button>
        </div> 
    
    
    
    
    
    
                            
  

 

  </div>
  </div>
  <br>
</body>

</html>